/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

/* COLORES */
.color_rojo_suave{
    color: #E16666;
    background-color: #E16666;
}
.color_rojo_base{
    color: #F60000;
    background-color: #F60000;
}
.color_rojo_oscuro{
    color: #620000;
    background-color: #620000;
}

/* Tipografia */
.alinear_izq{
    text-align: left;
}
.alinear_centro{
    text-align: center;
}
.alinear_der{
    text-align: right;
}

/* Cajas */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 0 0 0;
}
header,main,footer{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

/* **************************************************************** */


/* HEADER */
.header_zonaIzq{
    width: 210px;
    margin: 0;
}
.header_zonaIzq_caja, .header_zonaDer_caja{
    height: 210px;
}
.header_zonaCentro{
    width: 440px;
    height: 440px;
}
.header_zonaDer{
    width: 210px;
    margin: 0;
}

/* MAIN */

.linea{
    width: 900px;
    height: 20px;
}

/* FOOTER */
.circulo{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 0;
}



